<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name="conn" connectionString="Server=MARCHOME\SQLEXPRESS;Database=Psychology Center;
        Integrated Security=true;TrustServerCertificate=true;"/>
	</connectionStrings>
		<appSettings>
			<add key ="ParentTable" value="PSYCHOLOGIST"/>
			<add key ="ChildTable" value="THERAPYSESSION"/>
			<add key ="ChildID" value="Pid"/>
			<add key ="ParentQuery" value="Select * from PSYCHOLOGIST"/>
			<add key ="ChildQuery" value="Select * from THERAPYSESSION"/>
			<add key ="ParentID" value="PsychologistID"/>
		</appSettings>
	<!--<appSettings>
		<add key ="ParentTable" value="SPECIALIZATION"/>
		<add key ="ChildTable" value="COURSE"/>
		<add key ="ChildID" value="Sid"/>
		<add key ="ParentQuery" value="Select * from SPECIALIZATION"/>
		<add key ="ChildQuery" value="Select * from COURSE"/>
		<add key ="ParentID" value="SPECid"/>
	</appSettings>-->

</configuration>