<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
   
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForumServlet</servlet-name>
        <servlet-class>controllers.ForumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForumServlet</servlet-name>
        <url-pattern>/forum</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TopicServlet</servlet-name>
        <servlet-class>controllers.TopicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopicServlet</servlet-name>
        <url-pattern>/topic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>controllers.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/delete-post</url-pattern>
    </servlet-mapping>
</web-app>